{% extends "base_template.html" %}

{% block content %}
{% for object in object_list %}
        <a href="{{ object.get_absolute_url }}"}><h1> {{object.titolo}} </h1></a>
        <h3>{{ object.data }}</h3>
        <p>{{ object.contenuto|safe|linebreaks|truncatewords_html:50 }}</p>
{% endfor %}
<div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Precedente</a>
        {% endif %}

        <span class="current">
            Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Successiva</a>
        {% endif %}
    </div>
{% endblock content %}
